body {
    margin: 0;
    background-color: $background-color;
    font-family: $primary-font;
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  