@use '../helpers/variables' as *;

body {
    font-family: $primary-font;
    color: $primary-color;
    margin: 0;
    padding: 0;
    background: $background-gradient;
}

h1 {
    text-align: center;
    font-size: 44px;
}