@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Orbitron&family=Play&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Unbounded:wght@200..900&display=swap');

$primary-font: 'Unbounded', sans-serif;
$primary-color: #000000;
$secondary-color: #ffdfaf;
$home-background-gradient: linear-gradient(to right, #603601, #945f22);

$new-camp-dark-color: #082981;
$new-camp-medium-color: #0d3ec4;
$new-camp-light-color: #1151ff;
$new-camp-background-gradient: linear-gradient(to right, $new-camp-dark-color, $new-camp-medium-color);

$old-camp-dark-color: #5a000f;
$old-camp-medium-color: #880016;
$old-camp-light-color: #b3001e;
$old-camp-background-gradient: linear-gradient(to right, $old-camp-dark-color, $old-camp-medium-color);

$swamp-camp-dark-color: #114308;
$swamp-camp-medium-color: #1f770f;
$swamp-camp-light-color: #41c53d;
$swamp-camp-background-gradient: linear-gradient(to right, $swamp-camp-dark-color, $swamp-camp-medium-color);

$basic-border-radius: 5%;