@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Orbitron&family=Play&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Unbounded:wght@200..900&display=swap');

$primary-font: 'Unbounded', sans-serif;
$primary-color: #000000;
$secondary-color: #ffdfaf;
$home-background-gradient: linear-gradient(to right, #603601, #945f22);

$old-camp-hover-color: #50000d;
$old-camp-border-color: #880016;

$new-camp-hover-color: #151669;
$new-camp-border-color: #2224ad;

$swamp-camp-dark-color: #114308;
$swamp-camp-medium-color: #1f770f;
$swamp-camp-light-color: #41c53d;
$swamp-camp-background-gradient: linear-gradient(to right, $swamp-camp-dark-color, $swamp-camp-medium-color);