$primary-font: 'Arial', sans-serif;
$primary-color: #000000;

$old-camp-hover-color: #50000d;
$old-camp-border-color: #880016;

$new-camp-hover-color: #151669;
$new-camp-border-color: #2224ad;

$swamp-camp-hover-color: #114308;
$swamp-camp-border-color: #1f770f;