@use '../components/components' as *;

.swamp-camp-page {
    margin: 0 auto;
    background: $swamp-camp-background-gradient;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .swamp-header {
        @include header($primary-color, $swamp-camp-medium-color)
    }

    .content {
        margin-top: 20px;
        width: 60%;
        font-size: 14px;
    }
}
  
.main-image {
    img {
        width: 100%;
        height: auto;
        display: block;
        margin-bottom: 10px;
        border-radius: 5%;
    }
}

.section {
  @include section($primary-color, $swamp-camp-medium-color);
  margin-top: 50px;
}

@mixin responsive-image($width: 100%) {
    width: $width;
    height: auto;
}

.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: $swamp-camp-light-color;

  .grid-container {
    margin-block: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    width: 50%;
  }

  .single-image-container {
    width: 25%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: $primary-color;
    border-radius: 5%;

    img {
      @include responsive-image();
    }
  }

  .image {
    width: 65%;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: $primary-color;
    border-radius: 5%;
    
    img {
        @include responsive-image();
      }
  }
}
