// styles.scss

.swamp-camp-page {
    margin: 0 auto;
    padding: 10px 15vw;
    background: $swamp-camp-background-gradient;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
  
.header {
    text-align: center;
}
  
.main-image {
    img {
        width: 100%;
        height: auto;
        display: block;
        margin-bottom: 10px;
        border-radius: 5%;
    }

    p {
        text-align: center;
        background-color: $secondary-color;
        padding: 20px;
        border-radius: 5%;
    }
}

@mixin responsive-image($width: 100%) {
    width: $width;
    height: auto;
}
  

.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    width: 50%; // Grid 2x2 zajmuje połowę szerokości kontenera nadrzędnego
  }

  .single-image-container {
    width: 25%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: $swamp-camp-light-color;

    img {
      @include responsive-image();
    }
  }

  .image {
    width: 65%;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: $swamp-camp-light-color;
    
    img {
        @include responsive-image();
      }
  }
}

footer {
    margin-top: 50px;
    width: 100%;
    text-align: center;
    font-size: 20px;
    background-color: $secondary-color;
    padding: 5px;
    border-radius: 5%;
}


// Mixin dla box-shadow z parametrami
@mixin box-shadow($x, $y, $blur, $color) {
    -webkit-box-shadow: $x $y $blur $color;
    box-shadow: $x $y $blur $color;
}

.back-button {
    position: absolute;
    top: 30px;
    left: 20px;
    display: inline-block;
    padding: 0.5em 1em;
    background-color: black; 
    color: $swamp-camp-medium-color;
    text-decoration: none;
    border-radius: 10px;

    &:hover {
        background-color: lighten(black, 15%);
    }

    // Mixin lub placeholder z dziedziczeniem dla box-shadow, jeśli jest potrzebny
    @include box-shadow(2px, 2px, 5px, rgba(0, 0, 0, 0.2));
}
  