.button {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    border-radius: multiply($basic-border-radius, 2);
}

@mixin section($background-color, $color) {
    width: 100%;
    top: 0;
    text-align: center;
    background-color: $background-color;
    color: $color;
    padding: 5px 0px;

    .title, .content {
        box-sizing: border-box;
    }

    .title {
        font-size: 34px;
        background-color: $background-color;
    }

    .content {
        width: 100%;
        font-size: 16px;
        background-color: lighten($color, 2%);
        color: $background-color;
        padding: 20px; // Dodaje padding wewnątrz .content
    }
}

@mixin header($background-color, $color) {
    @include section($background-color, $color);
    position: sticky;
    border-bottom: 5px solid $color;

    .back-button {
        @extend .button;
        position: absolute;
        top: 40px;
        left: 20px;
        background-color: $color; 
        color: $background-color;
    
        &:hover {
            background-color: lighten($color, 15%);
        }
    }

    .music {
        position: absolute;
        top: 30px;
        right: 20px;
    }
}

.main-image {
    img {
        @include responsive-image(100%);
        display: block;
        margin-bottom: 10px;
        border-radius: 5%;
    }
}

@mixin gallery($camp-light-color) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: $camp-light-color;
  
    .grid-container {
      margin-block: 50px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 10px;
      width: 50%;
    }
  
    .single-image-container {
      width: 25%;
      display: flex;
      align-items: center;
      flex-direction: column;
      background-color: $primary-color;
      border-radius: 5%;
  
      img {
        @include responsive-image();
      }
    }
  
    .image {
      width: 65%;
      overflow: hidden;
      display: flex;
      align-items: center;
      flex-direction: column;
      background-color: $primary-color;
      border-radius: 5%;
      
      img {
          @include responsive-image();
        }
    }
}
  
@mixin camp-page($camp-background-gradient, $camp-medium-color) {
    margin: 0 auto;
    background: $camp-background-gradient;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .camp-header {
        @include header($primary-color, $camp-medium-color)
    }

    .content {
        margin-top: 20px;
        width: 60%;
        font-size: 14px;
    }
}