@use '../helpers/variables' as *;
@use '../helpers/functions' as *;

.button {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    border-radius: multiply($basic-border-radius, 2);
}

@mixin section($background-color, $color) {
    width: 100%;
    top: 0;
    text-align: center;
    background-color: $background-color;
    color: $color;
    padding: 5px 0px;

    .title, .content {
        box-sizing: border-box;
    }

    .title {
        font-size: 34px;
        background-color: $background-color;
    }

    .content {
        width: 100%;
        font-size: 16px;
        background-color: lighten($color, 2%);
        color: $background-color;
        padding: 20px; // Dodaje padding wewnątrz .content
    }
}

@mixin header($background-color, $color) {
    @include section($background-color, $color);
    position: sticky;
    border-bottom: 5px solid $color;

    .back-button {
        @extend .button;
        position: absolute;
        top: 40px;
        left: 20px;
        background-color: $color; 
        color: $background-color;
    
        &:hover {
            background-color: lighten($color, 15%);
        }
    }

    .music {
        position: absolute;
        top: 30px;
        right: 20px;
    }
}