@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Orbitron&family=Play&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Unbounded:wght@200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Orbitron&family=Play&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Unbounded:wght@200..900&display=swap");
body {
  font-family: "Unbounded", sans-serif;
  color: #000000;
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #603601, #945f22);
}

h1 {
  text-align: center;
  font-size: 44px;
}

#container {
  max-width: 50%;
  margin: 0 auto;
  padding: 20px;
}

.title {
  background-color: #ffdfaf;
  border: 2px solid #000000;
  border-radius: 5%;
}

.camp-selection {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}

#oldCamp {
  text-decoration: none;
  color: black;
  border: 30px solid transparent;
  border-bottom-width: 1px;
  overflow: hidden;
  transition: border-color 0.1s, background-color 0.1s, transform 0.3s;
}
#oldCamp:hover {
  border-color: #880016;
  background-color: #880016;
  transform: scale(1.05);
}
#oldCamp img {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s;
}
#oldCamp p {
  text-align: center;
  margin: 0;
  font-size: 30px;
  padding: 10px 0;
}

#newCamp {
  text-decoration: none;
  color: black;
  border: 30px solid transparent;
  border-bottom-width: 1px;
  overflow: hidden;
  transition: border-color 0.1s, background-color 0.1s, transform 0.3s;
}
#newCamp:hover {
  border-color: #2224ad;
  background-color: #2224ad;
  transform: scale(1.05);
}
#newCamp img {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s;
}
#newCamp p {
  text-align: center;
  margin: 0;
  font-size: 30px;
  padding: 10px 0;
}

#swampCamp {
  text-decoration: none;
  color: black;
  border: 30px solid transparent;
  border-bottom-width: 1px;
  overflow: hidden;
  transition: border-color 0.1s, background-color 0.1s, transform 0.3s;
}
#swampCamp:hover {
  border-color: #1f770f;
  background-color: #1f770f;
  transform: scale(1.05);
}
#swampCamp img {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s;
}
#swampCamp p {
  text-align: center;
  margin: 0;
  font-size: 30px;
  padding: 10px 0;
}

.swamp-camp-page {
  margin: 0 auto;
  background: linear-gradient(to right, #114308, #1f770f);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.swamp-camp-page .content {
  margin-top: 20px;
  width: 60%;
}

.header {
  width: 100%;
  top: 0;
  text-align: center;
  background-color: black;
  color: #1f770f;
  position: sticky;
  border-bottom: 5px solid #1f770f;
}

.main-image img {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 10px;
  border-radius: 5%;
}
.main-image p {
  text-align: center;
  background-color: #ffdfaf;
  padding: 20px;
  border-radius: 5%;
}

.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.gallery .grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  width: 50%;
}
.gallery .single-image-container {
  width: 25%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #41c53d;
  border-radius: 5%;
}
.gallery .single-image-container img {
  width: 100%;
  height: auto;
}
.gallery .image {
  width: 65%;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #41c53d;
  border-radius: 5%;
}
.gallery .image img {
  width: 100%;
  height: auto;
}

footer {
  margin-top: 50px;
  width: 100%;
  text-align: center;
  font-size: 20px;
  background-color: #ffdfaf;
  padding: 5px;
  border-radius: 5%;
}

.back-button {
  position: absolute;
  top: 40px;
  left: 20px;
  display: inline-block;
  padding: 0.5em 1em;
  background-color: #1f770f;
  color: black;
  text-decoration: none;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
.back-button:hover {
  background-color: #31bb18;
}

/*# sourceMappingURL=main.css.map */
